nav{
    background-color: #A24936;
    color: white;
    padding: 2px;

}

h1 {
    padding-top: 4px;
    padding-left: 15px;
}

h2 {
    padding-left: 15px;
}

main{
    background-color: #894D39;
    padding-bottom: 2%;
}

table{
    background-color: rgba(42, 54, 65, .8);
    color: white;
    margin-left: 2%;
    padding: 1%;
}

html{
    background-color: #282B28;
}


a, a:visited, a:hover, a:active {
    color: inherit;
}

button {
    background-color: #3E5641;
    margin-left: 15px;
    margin-bottom: 15px;
    color: whitesmoke;
    /* box-shadow: 1px 1px 1px 1px #537258; */
}

button :hover {
    /* background-color:transparent; */
    /* padding: 2px; */
    /* margin-left: 15px;
    margin-bottom: 15px; */
    /* color: whitesmoke; */
    margin-bottom: 4px;
    /* box-shadow: 1px 1px 1px 1px #537258; */
}
