{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
    <h1>Forgot your password?</h1>
    <p>Enter your email you signed up with below to get email with instructions for resetting password.</p>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Reset Password">
    </form>
{% endblock %}
