{% extends "base_tasks.html" %}

{% block title %}
    Create Task
{% endblock title %}
{% block content %}
    <div>
        <h1>Create a new task</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}pyth
            <button>Create</button>
        </form>
    </div>
{% endblock content %}
