{% extends "base_tasks.html" %}
{% comment %} {% import static %} {% endcomment %}
{% block title %}
    Secret Rust solver
{% endblock title %}
{% block content %}
    <div>
        <h1>My clones</h1>
        {% if my_clones.all|length == 0 %}
            <p>You have no Clones</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        {% comment %} <th>Picture!</th> {% endcomment %}
                        <th>Species</th>
                        <th>Gene1</th>
                        <th>Gene2</th>
                        <th>Gene3</th>
                        <th>Gene4</th>
                        <th>Gene5</th>
                        <th>Gene6</th>
                    </tr>
                </thead>
                <tbody>
                    {% for clone in my_clones %}
                        <tr>
                            {% comment %} {% if clone.species == "CORN" %}
                            <td><img src="static/corn.png" alt="corn" width="70"
                                height="70"></td>
                            {% endif %} {% endcomment %}
                            <td>{{ clone.species }}</td>
                            <td>{{ clone.species }}</td>
                            <td>{{ clone.chrom_1 }}</td>
                            <td>{{ clone.chrom_2 }}</td>
                            <td>{{ clone.chrom_3 }}</td>
                            <td>{{ clone.chrom_4 }}</td>
                            <td>{{ clone.chrom_5 }}</td>
                            <td>{{ clone.chrom_6 }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock content %}
