{% extends "base_rust.html" %}
{% comment %} {% load static %}
<link rel='stylesheet' href="{% static 'rustcss.css' %}"> {% endcomment %}
{% block title %}
    Secret Rust solver
{% endblock title %}
{% block content %}
    <div>
        <h1>My clones</h1>
        <button><a href = "{% url 'add_clones' %}">Add Clones!</a></button>
        {% if clone_objects.all|length == 0 %}
            <h2>You have no Clones</p>

        {% else %}
            <table>
                <thead>
                    <tr>
                        {% comment %} <th>Picture!</th> {% endcomment %}
                        <th>Species</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                    </tr>
                </thead>
                <tbody>
                    {% for clone in clone_objects %}
                        <tr>
                            {% comment %} {% if clone.species == "CORN" %}
                            {% endif %}  {% endcomment %}
                            <td>{{ clone.species }}</td>
                            <td>{{ clone.chrom_1 }}</td>
                            <td>{{ clone.chrom_2 }}</td>
                            <td>{{ clone.chrom_3 }}</td>
                            <td>{{ clone.chrom_4 }}</td>
                            <td>{{ clone.chrom_5 }}</td>
                            <td>{{ clone.chrom_6 }}</td>
                            {% comment %} {% for image in clone %}
                                <td><img src={{ image }} alt = ></img></td>
                            {% endfor %} {% endcomment %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock content %}
